/**
 * @file
 * Subtheme specific CSS.
 */
.region-top-header-form {
    margin: unset;
    color: black;
}
.region-top-header-form a {
    color: black;
    text-decoration: unset;
}
.region-top-header-form a:hover {
    color: black;
}
#block-topbarmail {
    line-height: 0;
    padding-top: 15px;
}
#navbar-main {
    padding: unset;
}
#navbar-main a.navbar-brand {
    background: #f4d29e;
    padding: 5px 20px 5px 40px;
}
.navigation ul li a {
    color: black;
    font-weight: 600;
    margin-left: 21px;
}